.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backButtonContainer {
  border: 0;
  position: absolute;
  left: 0;
}

.backButton {
  color: black;
}

.title {
  padding-top: 16px;
}

.navItem {
  margin: 0 0.3rem !important;
}

.navContainer {
  position: relative;
}

.logoutButton {
  position: absolute;
  right: 0;
  top: 0;
}
