@import "~antd/dist/antd.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: white;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.content {
  margin-top: 60.4px;
}

.ant-card-head-title {
  flex: unset;
  width: 12rem;
}

.error {
  text-align: center;
}
