.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  margin-top: 2rem;
}

.habit {
  width: 100%;
}

.habitSkeleton {
  margin: auto;
  width: 20rem;
}

.habit .ant-space-item {
  width: 100% !important;
}
