.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  width: 100%;
}

.habitListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habitSkeleton {
  margin: auto;
  width: 20rem;
}

.searchOrCreateContainer {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 313px;
}

.createButtonContainer {
  padding-left: 1rem;
}
