.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  width: 20rem;
}

.emptyMsgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.habitSkeleton {
  margin: auto;
  width: 20rem;
}

.select {
  margin-bottom: 1rem;
}

.createButtonContainer {
  margin-bottom: 1.5rem;
}

.loadMore {
  text-align: center;
  margin: 0.5rem;
}
